h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-left: 15px;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.contact {
    margin-bottom: 80px;
}

#contactForm {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

input {
    width: 95%;
    padding: 12px 20px;
    margin-bottom: 8px;
}

#message {
    padding-bottom: 50px;
    overflow-wrap: break-word;
    padding-right: 0;
}

#submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 25px;
    background-color: #4aaaa5;
}