/*Header, nav and top section*/

.header-nav {
    background-color: white;
    min-height: 50px;
    border-bottom: 1px rgb(202, 202, 202) solid;
    min-width: 100%;
}

header {
    float: left;
}

nav {
    margin-top: 25px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
}

/*nav link styling start*/

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    color: crimson;
}

a:hover {
    color: darkred;
}

a:active {
    color: black;
}

/*nav link styling end*/

h1 {
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:last-child {
    border-right: none;
}

li {
    display: inline;
    padding-right: 4px;
    border-right: 1px gray solid;
}

 .clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/*body, p, img*/

body {
    background-color: #cccccc;
    margin: 0 auto;
}

#aboutMe, .portfolio, .contact {
    margin: 40px;
    padding: 50px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px rgb(202, 202, 202) solid;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    padding-left: 15px;
    border-bottom: 2px solid gray;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 15px;
}

#profilePicture {
    width: 300px;
    height: 230x;
    padding: 15px;
    float: left;
}

p {
    margin: 10px 10px;
    width: auto;
    max-width: 100%;
    min-width: 50%;
    
}

/*footer*/

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

}

/* Media Queries */

@media screen and (max-width: 768px) {
    /* center align image and make bigger */
    h2 {
        text-align: center;
    }
    #profilePicture {
        width: 100%;
        height: 100%;
        align-content: center;
    }
}

@media screen and (max-width: 640px) {
    nav {
        margin-top: 5px;
    }
    a:link {
        color: white;
    }

    a:visited {
        color: purple;
    }

    header {
        float: none;
    }
    
    li {
        font-size: 25px;
    }
}