.portfolio {
    padding-bottom: 75%;
    margin-bottom: 80px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-left: 15px;
    border-bottom: 2px solid gray;
}

.textContainer {
    position: absolute;
}

.imageContainer { 
    position: relative;
    margin: 40px 40px 40px 0;
    height: 300px;
    width: 300px;
    float: left;    
 }


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
    width: 300px;
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
    top: 200px; 
    left: 0;
}

/*Image buttons*/
a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.7;
}
